.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Lock files
# pnpm-lock.yaml
bun.lock
package-lock.json

# Env
.env

# Prisma
prisma/*.db
prisma/*.sqlite
prisma/*.db-journal

# Tests
/coverage
/test-results
/playwright-report

# Mocks
/tests/fixtures/email